@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Da Lat University <br />
    <abbr title="Phone">P:</abbr>
    0834506200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vuongit.dlu@gmail.com">vuongit.dlu@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:cao.khanh.1997@gmail.com">cao.khanh.1997@gmail.com</a>
</address>