@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/login.css")
@Scripts.Render("~/Scripts/login.js")
<div class="container-fluid center-block" style="max-width:70%">
    <div class="row">
        <div class="col-md-7 col-left" >
            <div class="select login">Đăng nhập</div>
            <div style="padding:0px 50px 0px 50px">
                <label class="label control-label">Tên tài khoản</label>
                <input type="text" class="form-control" name="user" />
                <label class="label control-label">Mật khẩu</label>
                <input type="text" class="form-control" name="password" />
                <input type="checkbox"><small> Nhớ mật khẩu?<br /></small>
                <a href="#" style="text-decoration:none"><div class="btn btn-info center-block"><b>ĐĂNG NHẬP</b></div></a>
                <p> Quên mật khẩu?</p>
            </div>
        </div>
        <div class="col-md-1 col-mid">
            <a href="#" data-toggle="tooltip" data-placement="right" title="Thêm tùy chọn đăng nhập!" style="text-decoration:none"><div class="btn-mid">►</div></a>
        </div>
        <div class="col-md-4 col-right" style="display:none">
            <div class="login-MXH">
                <a href="#" style="text-decoration:none">
                    <div class="login-fb">
                        <img src="~/Images/facebook.png" class="fb-icon" /><b>Đăng nhập bằng Facebook</b>
                    </div>
                </a>
                <a href="#" style="text-decoration:none">
                    <div class="login-gg">
                        <img src="~/Images/google.png" class="fb-icon" /><b>Đăng nhập bằng Google</b>
                    </div>
                </a>
                <a href="#" style="text-decoration:none">
                    <div class="login-zl">
                        <img src="~/Images/zalo.png" class="fb-icon" /><b>Đăng nhập bằng Zalo</b>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>